/* day1.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cards {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.cards:hover {
    transform: scale(1.05);
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    
}

.title h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.des {
    padding: 20px;
}

.des p {
    font-size: 1em;
    color: #666;
}

.des button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.des button:hover {
    background-color: #005f73;
}
